@font-face {
  src: url('fonts/ArialMT.woff');
  font-family: "Arial MT";
}

@font-face {
  src: url('fonts/arialBoldMT.ttf');
  font-family: "Arial - Bold MT";
}

*, ::after, ::before {
  box-sizing: border-box;
  font-family: "Arial MT";
  transition: .3s;
}

body {
  margin: 0px;
  padding: 0px;
}

main {
  background: #1a1a1a;
}

.bg-gray {
  background-color: #eaeaea;
}

.bg-black {
  background-color: #0d0d0d;
}
