.loader{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: #e3e3e3;
  opacity: 0.85;
}

.loader__content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader__icon{
  width: 59px;
  height: 56px;
  margin-bottom: 14px;
  background: url('img/loader__icon.png') no-repeat center / contain;
  animation-name: loader__iconAnimation;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.loader__text{
  color: #646464;
  font-size: 16px;
}

@keyframes loader__iconAnimation {
  100%{
    transform: rotate(-360deg);
  }
}
