.title {
  color: #121212;
  font-family: Oswald;
  font-size: 34px;
  font-weight: 300;
  margin: 0;
}

.title_subtitle {
  font-size: 26px;
  position: relative;
}

.title_subtitle::before {
  content: '';
  position: absolute;
  left: -25px;
  width: 19px;
  height: 8px;
  background: #aa3132;
  top: 50%;
  transform: translateY(-50%);
}

.title_copyright{
  color: #444444;
  font-size: 32px;
}

.title_header{
  display: none;
}

@media (max-width:992px),(max-device-width:992px) {
  .title_copyright{
    display: none;
  }
}

@media (max-width:576px),(max-device-width:576px) {
  .title_main{
    display: none;
  }
}

@media (max-width:500px),(max-device-width:500px) {


  .title_header{
    position: absolute;
    width: 100%;
    padding: 7px 0px;
    color: #fff;
    background-color: rgba(7,7,7,0.6);
    top: 53px;
    font-size: 28px;
    text-align: center;
  }

}
