noscript
    p Please enable Javascript
    
header.header

  .header__mobile-controls
    .header__burger
    form.header__search
      input.input.input_search.input_small.header__search-input(type='search' placeholder='Search...')
  
  h1.title.title_header ParrotWings Exchange
    
  .header__bg
  nav.header__nav
    ul.header__nav-list
      li
        a.header__nav-item(href='#') Home 
      li
        a.header__nav-item(href='#') Credits
      li
        a.header__nav-item(href='#') Exchange
      li
        a.header__nav-item(href='#') Partners
      li
        a.header__nav-item(href='#') Stock 
      li
        a.header__nav-item(href='#') Holding
      li
        a.header__nav-item(href='#') About
  
