.input{
  background-color: #efefef;
  padding: 20px 15px 15px 15px;
  color: #000;
  font-size: 16px;
  border: 1px solid #a4a4a4;
}

.input_small{
  padding: 12px;
  font-size: 14px;
}

.input_search{
  background-image: url('img/input__search.png');
  background-position: 90% center;
  background-size: 16px;
  background-repeat: no-repeat;
  max-width: 252px;
  width: 100%;
}


.input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a3a3a3;
  opacity: 1; /* Firefox */
}

.input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #a3a3a3;
}

.input::-ms-input-placeholder { /* Microsoft Edge */
  color: #a3a3a3;
}

@media (max-width:576px), (max-device-width:576px){
  .input_search-main{
    display: none;
  }
}
