.hint{
  width: 248px;
  position: absolute;
  left: -50%;
  bottom: 100%;
  transform: translateY(-15px);
  display: none;
  background-color: #000000;
  opacity: 0.79;
  padding: 15px;
  text-align: center;
}

.hint__title{
  color: #d3d3d3;
  font-family: "Arial - Bold MT";
  font-size: 14px;
}

.hint__text{
  color: #d3d3d3;
  font-size: 12px;
  font-weight: 400;
}

.hint::after{
  position: absolute;
  content: '';
  left: 50%;
  transform: translate(-50%);
  border: 10px solid transparent;
  border-top: 10px solid #000000;
  bottom: -19px;
}
