include ../blocks/product/product.jade
doctype html
html(lang="ru")
    include ../blocks/head/head.jade
    body
        include ../blocks/header/header.jade

        main
          section.container.bg-gray.pt-5.pb-4.px-0.px-sm-5
            .row.mx-0.align-items-start
              .col-xl-9.col-lg-8.px-0.pl-lg-5
                .row.justify-content-between.mx-0
                  h1.title.mb-4 ParrotWings Exchange
                  input.input.input_search.input_small(type='search' placeholder='Search...')
                
                h2.title_subtitle.ml-5.ml-lg-0 Products
                
                .row.row_products
                  +product('product1','2 props', 'Unlimited exchange')
                  +product('product2','1 prop', 'International exchange')
                  +product('product3','3 props all', 'Additional services')
                  +product('product4','5 props', 'Support')
                  +product('product5','2 props', 'Holiday works')
                  +product('product6','not in access', 'Postal delivery')
                  +product('product7','2 props', 'Document managment ')
                  +product('product8','1 prop', 'Promotions')
                
                .text-center.d-none.d-lg-block
                  a.link.link_gray(href="#") More products...
              .col-xl-3.col-lg-4.px-0.pl-lg-4
                include ../blocks/tab/tabSignUp.jade
                include ../blocks/tab/tabOnlineMonitor.jade
          
          .container-fluid.bg-black.px-0
            .row.row_socials
              .row_socials-inner
                a(href="#")
                  img.social(src="img/social__evernote.png", alt='evernote')
                a(href="#")
                  img.social(src="img/social__facebook.png", alt='facebook')
                a(href="#")
                  img.social(src="img/social__pinterest.png", alt='pinterest')
                a(href="#")
                  img.social(src="img/social__twitter.png", alt='twitter')
                a(href="#")
                  img.social(src="img/social__yt.png", alt='yt')
                a(href="#")
                  img.social(src="img/social__discord.png", alt='discord')
                
              .title.title_copyright © Parrot Wings
        
        include ../blocks/footer/footer.jade
      
        //задний фон контента + header nav
