include ../blocks/product/product.jade
doctype html
html(lang="ru")
    include ../blocks/head/head.jade
    body
        include ../blocks/header/header.jade

        main
          .container.bg-gray
          
            .tab.tab_signup
              .tab__title Sign Up
              
              hr.tab__line
              
              input.input.mb-2(placeholder='First Name')
              input.input.mb-2(placeholder='First Name')
              input.input.mb-2(placeholder='First Name')
              
              .tab__text.tab__text_small.text-center.mb-2
                | By creating a PW Exchange Account you acknowledge that
                | you have read, understood and agree to the  
                a.link.link_small(href="#") Terms of Use 
                | and 
                a.link.link_small(href="#") Privacy Policy.
                
              button.button.align-self-end Sign Up
                
            
            input.input.input_search.input_small(type='search' placeholder='Search...')
            .row.row_products
              +product('product1','2 props', 'Unlimited exchange')
              +product('product2','1 prop', 'International exchange')
              +product('product3','3 props all', 'Additional services')
              +product('product4','5 props', 'Support')
              +product('product5','2 props', 'Holiday works')
              +product('product6','not in access', 'Postal delivery')
              +product('product7','2 props', 'Document managment ')
              +product('product8','1 prop', 'Promotions')
            
            .text-center
              a.link.link_gray(href="#") More products...
          
        include ../blocks/footer/footer.jade
      
        //sign up
