form.tab.tab_signup.mb-4
  .tab__title Sign Up
  
  hr.tab__line
  
  input.input.mb-2(placeholder='First Name', required)
  input.input.mb-2(placeholder='First Name', required)
  input.input.mb-2(placeholder='First Name', required)
  
  .tab__text.tab__text_small.text-center.mb-2
    | By creating a PW Exchange Account you acknowledge that
    | you have read, understood and agree to the  
    a.link.link_small(href="#") Terms of Use 
    | and 
    a.link.link_small(href="#") Privacy Policy.
    
  button.button.align-self-end Sign Up
