footer.footer
  .row.row__footer
    .col-lg-3.col-sm-6.mt-4.mt-sm-0
      .footer__subtitle Recruitment Info
      .footer__text Candidate First Name: Yury
      .footer__text Candidate Last Name: Tatarintsev
      .footer__text Spent Time: 6 hours
      .footer__text Email: 
        a(href="mailto:tayurus@gmail.com") tayurus@gmail.com
      .footer__text Test date: 20.12.2018
      
    .col-lg-3.col-sm-6.mt-4.mt-sm-0
      .footer__subtitle Resources
      .footer__text Loader icon - search on Fontello.com
      .footer__text Icons - Entypo
      .footer__text Icons - Entypo
      .footer__text Fonts - search in this file
      .footer__text Background --- standart situation:
        br
        | designer lose file 

    .col-lg-1.col-sm-6.mt-4.mt-sm-0
      .footer__subtitle Navigation
      .footer__text Development
      .footer__text Application
      .footer__text Holding
      .footer__text About
      
    .col-lg-4.col-sm-6.footer__browsers-info
      img.footer__browsers(src='img/footer__browsers.png', alt='browsers')
      .footer__browsers-text
        | Project should work on next stack: 
        br
        | IE11, actual version of Firefox, Chrome 
        br
        | on desktop and android, Opera (opera mini), 
        br
        | Safari on mac and ios.
        
    .col-sm-1.mt-4.mt-sm-0.d-block.d-sm-none
      .footer__copyright © Parrot Wings
